html{
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  height: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
font-family: 'Cera Pro Thin';
src: url('styles/CeraPro-Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: UltimaPro;
    src: url("styles/UltimaPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: UltimaProLt;
    src: url("styles/UltimaProLt.ttf") format("opentype");
}


/******Beginning Page 1******/
#Page_1{
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #d3c6da, #f8cad5);
}

.social_media a{
  display: block;
  width: 35px;
  height: 35px;
  margin-left: 4%;
  z-index: 11;
}

header{
  width: 100%;
  height: 100px;
}

#Page_1 .menu_icon{
  display: none;
}

#Page_1 .logo{
  float: left;
  margin: 4.4% 0 0 7%;
  width: 88px;
  height: 42px;
}

.menu{
  width: 75%;
  float: right;
}

.menu ul{
  list-style: none;
}

.menu a{
  text-decoration: none;
  color: black;
}

.menu li{
  float: right;
  /* font-size: 14.67px; */
  font-size: 1.1vw;
  font-family: "UltimaPro";
  color: rgb( 34, 34, 34 );
  text-align: center;
  margin: 6% 10% 0px 0px;
}

.landing_text {
  width: 81.5%;
  height: 20vh;
  clear: both;
  margin: 10% 0px 0px 18%;
}

.landing_text img{
  opacity: 0.8;
}

.landing_text h1{
  width: 70%;
  opacity: 1;
  /* font-size: 41px; */
  font-size: 3vw;
  font-family: "UltimaPro";
  color: rgb( 34, 34, 34 );
  font-weight: bold;
  height: 75%;
}

.landing_text p{
  color: #83757d;
  /* font-size: 16.5px; */
  font-size: 1.1vw;
  opacity: 1;
  font-family: "UltimaProLt";
  width: 59%;
  height: 25%;
}

.startProject{
  margin-top: 6%;
  height: 40px;
  width: 175px;
  border: none;
  border-radius: 7px;
  /* font-size: 11px; */
  font-size: 0.9vw;
  font-weight: 700;
  color: white;
  background-color: rgb( 34, 34, 34 );
  box-shadow: 2px 3.464px 26px 0px rgb( 72, 70, 68 );
}

.languages{
  position: absolute;
  height: 11px;
  float: left;
  margin: 0 0 0 4%;
  bottom: 6%;
}

.language{
  font-family: "UltimaProLt";
  width: 88px;
  height: 11px;
  margin-right: 10px;
}

 #russian{
  border-width: 0.682px;
  border-style: solid;
  border-radius: 50%;
  padding: 8px 10px;
  font-weight: 800;
}

#english, #ukrainian{
  opacity: 0.7;
}

.social_media{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 250px;
  position: absolute;
  bottom: 4%;
  float: right;
  height: 31px;
  /* margin: 0 4% 0 0; */
  right: 0;
}

/* .social_media img{
  border-width: 0.682px;
  border-style: solid;
  border-radius: 50%;
  padding: 0px;
} */

img{
  margin-left: 12%;
}

.social_media img{
  width: 35px;
}

.Background {
  position: absolute;
  left: 170px;
  top: 130px;
  width: 1030px;
}

#mob-bg{
  display: none;
}


/******End Page 1******/


/******Beginning Page 2******/
#Page_2{
  position: relative;
  background:
    /* url('files/Page2/Wawe1.png') no-repeat 0px 0px, */
    linear-gradient(to right, #212121, #3b3b3b);
  /* background-size: cover; */
  width: 100%;
  height: 100%;
}

#bg-second-page{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 0;
}

.logo{
  width: 3.7%;
  height: auto;
  margin: 3% 0 0 4.2%;
}

#Page_2 article{
  margin: 5% 0 0 10.7%;
}

#Page_2 h1{
  /* font-size: 53.868px; */
  position: relative;
  font-size: 4vw;
  font-family: "UltimaPro";
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  line-height: 0.668;
  text-align: left;
  margin: 0;
}

#Page_2 p{
  width: 47.4%;
  margin-top: 1.5%;
  /* font-size: 14px; */
  font-size: 1vw;
  font-family: "UltimaProLt";
  color: rgb( 255, 255, 255 );
  line-height: 1.25;
  text-align: left;
  opacity: 0.8;
}

.menu_icon{
  position:absolute;
  clear: both;
  margin-left: 0;
  right: 4.9%;
  top: 5.5%;
  float: right;
  cursor: pointer;
  z-index: 11;
}

#month{
    width: 96%;
    display: flex;
    flex-direction: row;
    list-style: none;
    position: absolute;
    bottom: 12%;
    /* margin: 20% 0 0 0; */
}

#month li{
  margin-right: 4.9%;

}

#month li a{
  text-decoration: none;
  /* font-size: 14px; */
  font-size: 1vw;
  font-family: "Cera Pro Thin";
  color: rgb( 255, 255, 255 );
  line-height: 1.8;
  text-align: center;
  opacity: 0.7;
}

#Page_2 .language, #Page_4 .language{
  color: white;
}

#Page_2 #russian, #Page_4 #russian{
  border-color: white;
}

#mob-bg-second-page{
  display: none;
}
/******End Page 2******/


/******Beginning Page 3******/
#Page_3{
  position: relative;
  background: linear-gradient(to right, #d3c6da, #f8cad5);
  width: 100%;
  height: 100%;
}

#Page_3 .swiper-container{
  display: none;
}

#Page_3 article{
  margin: 0 0 0 10.7%;
  position: relative;
  color: black;
}

#Page_3 h1{
  /* font-size: 53.868px; */
  font-size: 4vw;
  font-family: "UltimaPro";
  color: rgb( 34, 34, 34 );
  font-weight: bold;
  line-height: 0.668;
  text-align: left;
  margin: 3% 0 1.7% 0;
}

#Page_3 p{
  width: 52%;
  margin-top: 3.5%;
  /* font-size: 14px; */
  font-size: 1.1vw;
  font-family: "UltimaProLt";
  color: rgb( 28, 28, 28 );
  font-weight: 700;
  line-height: 1.25;
  text-align: left;
  opacity: 0.8;
  margin-bottom: 0;
}

#Page_3 .service_item, .mob-service-item{
  height: 45%;
  margin-left: 3.7%;
}

#Page_3 .service_item ul, #Page_3 .mob-service-item ul{
  display: flex;
  flex: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#Page_3 .service_item li,
#Page_3 .mob-service-item li{
  width: 16.3%;
  margin-top: 3%;
  margin-left: 7.4%;
}

#Page_3 .service_item a,
.mob-service-item a{
  /* font-size: 29px; */
  font-size: 2vw;
  font-family: "UltimaPro";
  color: rgb( 34, 34, 34 );
  font-weight: bold;
  line-height: 1.429;
  text-align: left;
  text-decoration: none;
}

/******End Page 3******/

/******Beginning Page 4******/
#Page_4{
  position: relative;
  width: 100%;
  height: 100%;
}

.Page_4 .logo, .Page .menu_icon{
  position: absolute;
  z-index: 10;
}

section:after {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: 
      repeating-linear-gradient(to right,
      black 0,
      black 60%,
      transparent 60%,
      transparent 80%);
opacity: .6; 
}


.images {
  position: relative;
  /* left:-100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  /* animation: roll 25s steps(5,end) infinite; */
  font-size: 0;
  
}
.images img{
  /* width: 20%; */
  object-fit: cover;
  height: 100%;
}
section {
  position: absolute; 
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  z-index: -11;
}

@keyframes roll{
  from{
    left: 0;
  }
  to{
    left: -100%;
  }
}
/* @keyframes roll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} */

.fr-trust-element{
  width: 20%;
  height: auto;
  margin: 0;
  padding: 0;
}

.slideshow-container{
  position: absolute;
  top: 0;
  height: 100%;
  width: 20%;
  left: 60%;
}

.mySlides{
  height: 100%;
  display: none;
}


.mySlides img{
  display: none;
  margin: auto;
  width: auto;
  height: 100%;
}

.prev, .next{
  position: absolute;
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  /* color: white;
   */
  color: black;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.next:hover, .prev:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color:white;
}


.indicators{
  position: absolute;
  bottom: 2%;
  left: 65%;
}

.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, dot:hover{
  /* background-color: #717171;
   */
   background-color: rgb(46, 38, 38);
}

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade{
  from{opacity:0.4}
  to{opacity:1}
}

@keyframes fade {
  from{opacity:0.4}
  to{opacity:1}
}

#employee-name {
  position: absolute;
  top: 20%;
  left: -180%;

  /* font-size: 70px; */
  font-size: 5vw;
  font-family: "UltimaPro";
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  line-height: 0.338;
  text-align: left;
}


#employee-info {
  position: absolute;
  top: 40%;
  left: -180%;

  width: 160%;
  /* font-size: 21px; */
  font-size: 1.3vw;
  font-family: "CeraPRO";
  color: rgb( 255, 255, 255 );
  line-height: 1.174;
  text-align: left;
  opacity: 0.8;
}
/******End Page 4******/

/******Beginning Page 5******/
#Page_5{
  position: relative;
  background: linear-gradient(to right, #d3c6da, #f8cad5);
  width: 100%;
  height: 100%;
}

.registration{
  margin: 5% 0 0 18.5%;
}

.registration p{
  width: 70%;
  /* font-size: 15.5px; */
  font-size: 1.3vw;
  font-family: "UltimaPro";
  color: rgb( 28, 28, 28 );
  font-weight: bold;
  line-height: 1.174;
  text-align: left;
  margin-bottom: 4%;
}

.registration_fields input{
  width: 33%;
  display: block;
  margin-top: 3.8%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

#projectDescription{
  display: none;
}

/******End Page 5******/


/******Beginning Footer******/
footer{
  position: relative;
  width: 100%;
  /* height: 55vh; */
  height: 55%;
  background: linear-gradient(to right, #212121, #3b3b3b);
}

footer img{
  margin: 2.6% 0 0 5.5%;
}

footer ul{
  list-style: none;
}

footer ul li a{
  text-decoration: none;
  /* font-size: 20.324px; */
  font-size: 1.6vw;
  font-family: "UltimaPro";
  color: rgb( 255, 255, 255 );
  line-height: 2.46;
  text-align: center;
  margin: 0 0 0 18.5%;
}

footer .contacts{
  position: relative; 
  width: 15%;
  bottom: 20%;
  float: right;
  right: 18.5%;
}

#email, #phone {
  /* font-size: 17.195px; */
  font-size: 1.4vw;
  font-family: "UltimaPro";
  color: white;
  font-weight: bold;
  line-height: 2.908;
  text-align: center;
  margin: 0;
}
/******End Footer******/

/******Beginning Menu pop-up******/
#mob-menu-page{
  display: none;
}

#menu_page{
  display: none;
  position: absolute;
  top: 100%;
  /* bottom: 0; */
  height: 100%;
  width: 30%;
  background: linear-gradient(to right, #d3c6da, #f8cad5);
  float: right;
  right: 4%;
  opacity: 1;
  z-index: 20;
}

.close{
  position: absolute;
  right: 5%;
  width: 30%;
  top: 5%;
  /* font-size: 13px; */
  font-size: 1vw;
  font-family: "UltimaPro";
  color: rgb( 34, 34, 34 );
  cursor: pointer;
}

.close span{
  margin-right: 20%;
}

.menu_form{
  /* margin-left: -5%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu_form h1{
  /* font-size: 53.868px; */
  font-size: 4vw;
  font-family: "UltimaPro";
  color: rgb( 34, 34, 34 );
  font-weight: bold;
  margin-bottom: 10%;
  margin-top: 25%;
}

.menu_form ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.menu_form li{
  display:inline-block;
  margin-bottom: 30%;
}

.menu_form a{
  /* font-size: 12px; */
  font-size: 1vw;
  font-family: "UltimaPro";
  color: rgb( 34, 34, 34 );
  
  text-decoration: none;
}

.startProject{
  right: 40%;
}
/******End Menu pop-up******/

/******media queries******/

@media screen and (max-width: 767px) and (min-width: 481px){
  #Page_1 .menu, .social_media, .language,
  #month{
    display: none;
  }

  #mob-bg{
    display: block;
    position: absolute;
    bottom: 0;
    height: 80%;
    opacity: 0.3;
    margin-left: 35%;
    margin-bottom: -10%;
  }
  
  #Page_1 .logo{
    margin-top: 10%;
  }

  .logo{
    margin-top: 10%;
    width: 88px;
    height: 42px;
  }

  .landing_text h1{
    width: 90%;
    line-height: 150%;
    font-size: 6vw;
    margin-bottom: 40%;
    margin-top: 10%;
  }

  .landing_text p{
    width: 80%;
    font-size: 3vw;
    margin-bottom: 20%;
    color: black;
  }

  .startProject{
    height: 60px;
    width: 200px;
    border-radius: 7px;
    font-size: 2.5vw;
  }

  #Page_1 .menu_icon{
    display: block;
  }

  #Page_2 article{
    margin-top: 15%;
  }

  #bg-second-page{
    display: none;
  }

  #mob-bg-second-page{
    display: block;
  }

  #Page_1, #Page_2{
    overflow: hidden;
  }

  #mob-bg-second-page-2{
    position: absolute;
    bottom: 0;
    opacity: 0.2;
    height: 80%;
    left: -75%;
  }

  #mob-bg-second-page-1{
    position: absolute;
    height: 40%;
    bottom: 0;
    width: 100%;
    left: -12%;
  }


  #Page_2 h1, #Page_3 h1{
    font-size: 10vw;
    width: 80%; 
    line-height: 120%; 
    margin-bottom: 10%; 
  }
  
  #Page_2 p, #Page_3 p{
    width: 80%;
    font-size: 3vw;
    line-height: 150%;
    font-weight: 600;
    opacity: 1;
  }

  #Page_3 .service_item, #Page_3 .service p{
    display: none;
  }
 
  #Page_3 p{
    font-size: 3.5vw;
  }

  #Page_3 .mob-service{
    margin-top: 15%;
  }

  #Page_3 article{
    margin-top: 10%;
  }

  #Page_3 .swiper-container{
    display: block;
  }
  .swiper-container {
    width: 100%;
    height: 55%;
  }
  #Page_3 .mob-service-item{
    height: 100%;
    margin-left: 3.7%;
  }
  
  #Page_3 .mob-service-item ul{
   margin-left: 5%;
  }

  #Page_3 h1{
    margin-bottom: 5%;
    margin-top:0;
  }

  #Page_3 .mob-service-item li{
    width: 35%;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
  }

  #Page_3 .mob-service-item li:nth-child(2n+1){
    margin-right: 20%;
  }
  
  #Page_3 .mob-service-item a{
    font-size: 4vw;
  }

  #Page_3 .mob-service p{
    margin-top: -10%;
  }

  #Page_4 .fr-trust-wrapper, section:after,
  .social_media, .languages{
    display: none;
  }

  #Page_4 .mySlides, #Page_4 .mySlides img{
    display: block;
  }

  #Page_4 .mySlides h1{
    display: block;
  }

  #employee-name{
    height: 10%;
    top: 60%;
    left: 15%;
    font-size: 9vw;
    color: black;
  }

  #employee-info{
    top: 70%;
    width: 75%;
    height: 20%;
    color: black;
    left: 15%;
    font-size: 4vw;
    font-weight: 800;
    line-height: 100%;
  }

  .slideshow-container{
    width: 100%;
    left: 0%;
    /* z-index: -1; */
  }

  .mySlides{
    width: 100%;
  }
  .mySlides h1, .mySlides p{
    z-index: 10;
    margin: 0;
    padding: 0;
  }
  .mySlides img{
    position: absolute;
    width: 100%;
    /* object-fit: cover; */
    background-position: center center;
    z-index: -25;
  }

  .indicators{
    left: 30%;
    right: 25%;
    width: 50%;
    margin: auto;
  }

  #Page_4 .logo{
    position: absolute;
    z-index: 25;
  }

 

  .dot{
    margin: 0 5%;
  }

  .registration{
    margin: 10% 0 0 18.5%;
  }
  
  .registration p{
    width: 80%;
    font-size: 4vw;
    line-height: 150%;
    margin-bottom: 5%;
  }
  
  .registration_fields input{
    width: 90%;
    font-size: 3vw;
    margin-top: 7%;
    border-bottom: 1px solid black;
  }

  #Page_5 .startProject{
    margin-top: 7%;
  }

  .registration_fields input:nth-child(4){
    display: none;
  }
  
  #projectDescription{
    display: block;
    margin-top: 7%;
  }

  #projectDescription span{
    font-size: 3vw;
    opacity: 0.7;
  }

  #projectDescription textarea{
    margin-top: 2%;
    width: 90%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
  }

  footer{
    display: none;
  }

  #menu_page{
    display: none;
  }
  #mob-menu-page{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    background: linear-gradient(to right, #d3c6da, #f8cad5);
    z-index: 20;
  }

  #mob-menu-page .social_media{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    align-content: space-around;
    margin-left: 3%;
    margin-bottom: 10%;
  }

  #mob-menu-page .social_media a{
    width: 70px;
    height: 70px;
    margin-left: 0;
    margin-right: 5%;
  }

  #mob-menu-page .social_media img{
    width: 70px;
    height: auto;
  }

  .logo{
    margin-left: 7%;
  }

  .close{
    right: 1%;
    top:7%;
    width: 30%;
    font-size: 3vw;
  }
  
  .menu_form h1{
    font-size: 7vw;
    margin-bottom: 10%;
    margin-top: 10%;
    font-weight: 900;
  }
  
  
  .menu_form li{
    margin-bottom: 15%;
  }
  
  .menu_form a{
    font-size: 4vw;
    font-weight: 100;
    opacity: 0.8;
  }

  .menu_form .startProject{
    margin-left: 3%;
  }
  
  
}


@media screen and (max-width: 480px){
  #Page_1 .menu, .social_media, .language,
  #month{
    display: none;
  }

  #mob-bg{
    display: block;
    position: absolute;
    bottom: 0;
    height: 80%;
    opacity: 0.3;
    margin-left: 7%;
    margin-bottom: -20%;
  }
  
  #Page_1 .logo{
    margin-top: 13%;
  }

  .logo{
    margin-top: 13%;
    width: 88px;
    height: 42px;
  }

  .landing_text h1{
    width: 90%;
    line-height: 150%;
    font-size: 8.5vw;
    margin-bottom: 50%;
    margin-top: 30%;
  }

  .landing_text p{
    width: 80%;
    font-size: 4vw;
    margin-bottom: 45%;
    color: black;
  }

  .startProject{
    height: 60px;
    width: 200px;
    border-radius: 7px;
    font-size: 3.9vw;
  }

  #Page_1 .menu_icon{
    display: block;
  }


  #Page_2 article, #Page_3 article{
    margin-top: 25%;
  }

  #bg-second-page{
    display: none;
  }

  #mob-bg-second-page{
    display: block;
  }

  #Page_1, #Page_2{
    overflow: hidden;
  }

  #mob-bg-second-page-2{
    position: absolute;
    bottom: 0;
    opacity: 0.2;
    height: 70%;
    left: -160%;
  }

  #mob-bg-second-page-1{
    position: absolute;
    height: 40%;
    bottom: 0;
    left: -50%;
  }


  #Page_2 h1, #Page_3 h1{
    font-size: 10vw;
    width: 80%; 
    line-height: 120%; 
    margin-bottom: 15%; 
  }
  
  #Page_2 p, #Page_3 p{
    width: 80%;
    font-size: 4vw;
    line-height: 200%;
    font-weight: 600;
    opacity: 1;
  }

  #Page_3 .service_item, #Page_3 .service p{
    display: none;
  }
 
  #Page_3 .swiper-container{
    display: block;
  }
  .swiper-container {
    width: 100%;
    height: 55%;
  }
  #Page_3 .mob-service-item{
    height: 100%;
    margin-left: 3.7%;
  }
  
  #Page_3 .mob-service-item ul{
   margin-left: 5%;
  }
  
  #Page_3 .mob-service-item li{
    width: 35%;
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
  }

  #Page_3 .mob-service-item li:nth-child(2n+1){
    margin-right: 20%;
  }
  
  #Page_3 .mob-service-item a{
    font-size: 5vw;
  }

  #Page_3 .mob-service p{
    margin-top: -10%;
  }

  #Page_4 .fr-trust-wrapper, section:after,
  .social_media, .languages{
    display: none;
  }

  #Page_4 .mySlides, #Page_4 .mySlides img{
    display: block;
  }

  #Page_4 .mySlides h1{
    display: block;
  }

  #employee-name{
    height: 10%;
    top: 70%;
    left: 15%;
    font-size: 9vw;
    color: black;
  }

  #employee-info{
    top: 77%;
    width: 75%;
    height: 20%;
    color: black;
    left: 15%;
    font-size: 4vw;
    font-weight: 800;
    line-height: 160%;
  }

  .slideshow-container{
    width: 100%;
    left: 0%;
    /* z-index: -1; */
  }

  .mySlides{
    width: 100%;
  }
  .mySlides h1, .mySlides p{
    z-index: 10;
    margin: 0;
    padding: 0;
  }
  .mySlides img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    background-position: center center;
    z-index: -25;
  }

  .indicators{
    left: 30%;
    right: 25%;
    width: 50%;
    margin: auto;
  }

  #Page_4 .logo{
    position: absolute;
    z-index: 25;
  }

 

  .dot{
    margin: 0 5%;
  }

  .registration{
    margin: 25% 0 0 18.5%;
  }
  
  .registration p{
    width: 80%;
    font-size: 5vw;
    line-height: 150%;
    margin-bottom: 10%;
  }
  
  .registration_fields input{
    width: 90%;
    font-size: 4vw;
    margin-top: 10%;
    border-bottom: 1px solid black;
  }

  #Page_5 .startProject{
    margin-top:20%;
  }

  .registration_fields input:nth-child(4){
    display: none;
  }
  
  #projectDescription{
    display: block;
    margin-top: 12%;
  }

  #projectDescription span{
    font-size: 4vw;
    opacity: 0.7;
  }

  #projectDescription textarea{
    margin-top:2%;
    width: 90%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
  }

  footer{
    display: none;
  }

  #menu_page{
    display: none;
  }
  #mob-menu-page{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    background: linear-gradient(to right, #d3c6da, #f8cad5);
    z-index: 20;
  }

  #mob-menu-page .social_media{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    align-content: space-around;
    margin-left: 3%;
    margin-bottom: 20%;
  }

  #mob-menu-page .social_media a{
    width: 70px;
    height: 70px;
    margin-left: 0;
    margin-right: 5%;
  }

  #mob-menu-page .social_media img{
    width: 70px;
    height: auto;
  }

  .logo{
    margin-left: 7%;
  }

  .close{
    right: 1%;
    top:7%;
    width: 30%;
    font-size: 3vw;
  }
  
  .menu_form h1{
    font-size: 7vw;
    margin-bottom: 10%;
    margin-top: 25%;
    font-weight: 900;
  }
  
  
  .menu_form li{
    margin-bottom: 30%;
  }
  
  .menu_form a{
    font-size: 4vw;
    font-weight: 100;
    opacity: 0.8;
  }

  .menu_form .startProject{
    margin-left: 3%;
  }

  #Page_1 .menu, .social_media, .language,
  #month{
    display: none;
  }

  #mob-bg{
    display: block;
    position: absolute;
    bottom: 0;
    height: 80%;
    opacity: 0.3;
    margin-left: 35%;
    margin-bottom: -10%;
  }
  
  #Page_1 .logo{
    margin-top: 10%;
  }

  .logo{
    margin-top: 10%;
    width: 88px;
    height: 42px;
  }

  .landing_text h1{
    width: 90%;
    line-height: 150%;
    font-size: 6vw;
    margin-bottom: 40%;
    margin-top: 10%;
  }

  .landing_text p{
    width: 80%;
    font-size: 3vw;
    margin-bottom: 20%;
    color: black;
  }

  .startProject{
    height: 60px;
    width: 200px;
    border-radius: 7px;
    font-size: 2.5vw;
  }

  #Page_1 .menu_icon{
    display: block;
  }

  #Page_2 article{
    margin-top: 15%;
  }

  #bg-second-page{
    display: none;
  }

  #mob-bg-second-page{
    display: block;
  }

  #Page_1, #Page_2{
    overflow: hidden;
  }

  #mob-bg-second-page-2{
    position: absolute;
    bottom: 0;
    opacity: 0.2;
    height: 80%;
    left: -75%;
  }

  #mob-bg-second-page-1{
    position: absolute;
    height: 40%;
    bottom: 0;
    width: 100%;
    left: -12%;
  }


  #Page_2 h1, #Page_3 h1{
    font-size: 10vw;
    width: 80%; 
    line-height: 120%; 
    margin-bottom: 10%; 
  }
  
  #Page_2 p, #Page_3 p{
    width: 80%;
    font-size: 3vw;
    line-height: 150%;
    font-weight: 600;
    opacity: 1;
  }

  #Page_3 .service_item, #Page_3 .service p{
    display: none;
  }
 
  #Page_3 p{
    font-size: 3.5vw;
  }

  #Page_3 .mob-service{
    margin-top: 15%;
  }

  #Page_3 article{
    margin-top: 10%;
  }

  #Page_3 .swiper-container{
    display: block;
  }
  .swiper-container {
    width: 100%;
    height: 55%;
  }
  #Page_3 .mob-service-item{
    height: 100%;
    margin-left: 3.7%;
  }
  
  #Page_3 .mob-service-item ul{
   margin-left: 5%;
  }

  #Page_3 h1{
    margin-bottom: 5%;
    margin-top:0;
  }

  #Page_3 .mob-service-item li{
    width: 35%;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
  }

  #Page_3 .mob-service-item li:nth-child(2n+1){
    margin-right: 20%;
  }
  
  #Page_3 .mob-service-item a{
    font-size: 4vw;
  }

  #Page_3 .mob-service p{
    margin-top: -10%;
  }

  #Page_4 .fr-trust-wrapper, section:after,
  .social_media, .languages{
    display: none;
  }

  #Page_4 .mySlides, #Page_4 .mySlides img{
    display: block;
  }

  #Page_4 .mySlides h1{
    display: block;
  }

  #employee-name{
    height: 10%;
    top: 60%;
    left: 15%;
    font-size: 9vw;
    color: black;
  }

  #employee-info{
    top: 70%;
    width: 75%;
    height: 20%;
    color: black;
    left: 15%;
    font-size: 4vw;
    font-weight: 800;
    line-height: 100%;
  }

  .slideshow-container{
    width: 100%;
    left: 0%;
    /* z-index: -1; */
  }

  .mySlides{
    width: 100%;
  }
  .mySlides h1, .mySlides p{
    z-index: 10;
    margin: 0;
    padding: 0;
  }
  .mySlides img{
    position: absolute;
    width: 100%;
    /* object-fit: cover; */
    background-position: center center;
    z-index: -25;
  }

  .indicators{
    left: 30%;
    right: 25%;
    width: 50%;
    margin: auto;
  }

  #Page_4 .logo{
    position: absolute;
    z-index: 25;
  }

 

  .dot{
    margin: 0 5%;
  }

  .registration{
    margin: 10% 0 0 18.5%;
  }
  
  .registration p{
    width: 80%;
    font-size: 4vw;
    line-height: 150%;
    margin-bottom: 5%;
  }
  
  .registration_fields input{
    width: 90%;
    font-size: 3vw;
    margin-top: 7%;
    border-bottom: 1px solid black;
  }

  #Page_5 .startProject{
    margin-top: 7%;
  }

  .registration_fields input:nth-child(4){
    display: none;
  }
  
  #projectDescription{
    display: block;
    margin-top: 7%;
  }

  #projectDescription span{
    font-size: 3vw;
    opacity: 0.7;
  }

  #projectDescription textarea{
    margin-top: 2%;
    width: 90%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
  }

  footer{
    display: none;
  }

  #menu_page{
    display: none;
  }
  #mob-menu-page{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    background: linear-gradient(to right, #d3c6da, #f8cad5);
    z-index: 20;
  }

  #mob-menu-page .social_media{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    align-content: space-around;
    margin-left: 3%;
    margin-bottom: 10%;
  }

  #mob-menu-page .social_media a{
    width: 70px;
    height: 70px;
    margin-left: 0;
    margin-right: 5%;
  }

  #mob-menu-page .social_media img{
    width: 70px;
    height: auto;
  }

  .logo{
    margin-left: 7%;
  }

  .close{
    right: 1%;
    top:7%;
    width: 30%;
    font-size: 3vw;
  }
  
  .menu_form h1{
    font-size: 7vw;
    margin-bottom: 10%;
    margin-top: 10%;
    font-weight: 900;
  }
  
  
  .menu_form li{
    margin-bottom: 15%;
  }
  
  .menu_form a{
    font-size: 4vw;
    font-weight: 100;
    opacity: 0.8;
  }

  .menu_form .startProject{
    margin-left: 3%;
  }
  
}


/* @media only screen and (min-width: 480px) {
  Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее. 
  }
   
@media only screen and (min-width: 768px) {
  Планшеты в режиме portrait.
  }
   
@media only screen and (min-width: 992px) {
  Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.
  }
   
@media only screen and (min-width: 1382px) {
   Десктоп с большими разрешениями, телевизоры.

Landscape phones and down
@media (max-width: 480px) { ... }

 Landscape phone to portrait tablet 
@media (max-width: 767px) { ... }

 Portrait tablet to landscape and desktop 
@media (min-width: 768px) and (max-width: 979px) { ... }

 Large desktop 
@media (min-width: 1200px) { ... }

   } */